<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<div id="members">
  <b>Members</b>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li>
        <%= link_to member.username, user_path(member) %>
      </li>
    <% end %>
  </ul>
</div>

<p>
  <% if current_user %>
    <% if current_user.clubs.include?(@beer_club) %>
      <%= form_with(url: membership_path, method: :delete) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.submit "End the membership", class: "btn btn-danger" %>
      <% end %>
    <% else %>
      <%= form_with(model: @membership) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.submit "Join the beer club", class: "btn btn-success" %>
      <% end %>
    <% end %>
  <% end %>
</p>

<div>
  <%= link_to "Back to beer clubs", beer_clubs_path, class:"btn btn-primary" %>
  <%= edit_and_destroy_buttons(@beer_club)%>
</div>
