<%= render @beer_club %>

<div id="members">
  <b>Members</b>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li>
        <%= link_to member.username, user_path(member) %>
      </li>
    <% end %>
  </ul>
</div>

<%if @beer_club.members.include?(current_user) %>
 <%if not @beer_club.applicants.empty? %>
  <div id="applicants">
    <b>Applications</b>
    <ul>
      <% @beer_club.applicants.each do |applicant| %>
        <li>
          <%= form_with(url: accept_membership_path, method: :post) do |form| %>
            <%= link_to applicant.username, user_path(applicant) %>

            <%= form.hidden_field :applicant_id, value: applicant.id %>
            <%= form.submit "accept", class: "btn btn-sm btn-success" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%end%>
<%end%>

<p>
  <% if current_user %>
    <% if @beer_club.applicants.include?(current_user) %>
      <span class="badge bg-primary">Your application is pending</span>
    <% elsif @beer_club.members.include?(current_user) %>
      <%= form_with(url: membership_path, method: :delete) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.submit "End the membership", class: "btn btn-danger" %>
      <% end %>
    <% else %>
      <%= form_with(model: @membership) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.submit "Join the beer club", class: "btn btn-success" %>
      <% end %>
    <% end %>
  <% end %>
</p>

<div>
  <%= link_to "Back to beer clubs", beer_clubs_path, class:"btn btn-primary" %>
  <%= edit_and_destroy_buttons(@beer_club) if @beer_club.members.include?(current_user)%>
</div>
