<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
  </h2>

  <i>
    Established at <%= brewery.year %>
  </i>

  <p>
    Beers count: <%= brewery.beers.count %>
  </p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <p>
    <% if brewery.ratings.empty? %>
      This brewery has no rated beers
    <% else %>
      Brewery has 
      <%= brewery.beers.count %> <%= 'beer'.pluralize(brewery.beers.count) %>
      with total of
      <%= brewery.ratings.count %> <%= 'rating'.pluralize(brewery.ratings.count) %> 
      which average rating is
      <%= brewery.average_rating %>
    <% end %>
  </p>

</div>
