<h1>Breweries</h1>
<h3>Number of breweries: <%= @breweries.count %></h3>

<div id="breweries">
  <table class="table">
      <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Founded</th>
      <th scope="col">Beers</th>
    </tr>
  </thead>
    <tbody>
      <% @breweries.each do |brewery| %>
        <tr>
          <td><%= link_to brewery.name, brewery %></td>
          <td><%= brewery.year %></td>
          <td><%= brewery.beers.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New brewery", new_brewery_path, class: "btn btn-primary" if current_user %>
