<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @location.name %></h1>
  <p><%= @location.status %></p>
  <p><%= @location.street %></p>
  <p><%= @location.zip %> <%= @location.city%></p>
</div>

<%= link_to 'Back to search', places_path %>



